pkgbase = python-ufo2ft
	pkgdesc = A bridge from UFOs to FontTools objects
	pkgver = 2.27.0
	pkgrel = 1
	url = https://github.com/googlefonts/ufo2ft
	arch = any
	license = MIT
	checkdepends = python-compreffor
	checkdepends = python-pytest
	checkdepends = python-skia-pathops
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools-scm
	makedepends = python-wheel
	depends = python
	depends = python-booleanoperations
	depends = python-cffsubr
	depends = python-cu2qu
	depends = python-lxml
	depends = python-defcon
	depends = python-fonttools
	depends = python-fs
	optdepends = python-compreffor
	optdepends = python-skia-pathops
	source = https://files.pythonhosted.org/packages/source/u/ufo2ft/ufo2ft-2.27.0.tar.gz
	sha512sums = f1475424730a98d8eee4b1c3fcbcace97b55e8b5109cae5ad5a1de191d30483ac9ecfc8e1ade3eabb0d04e12dfb2bfc73478b17d637d65c566b7ddf41dc0caec

pkgname = python-ufo2ft
